.login-page {
  height: 100vh;
  background: url("../Image/bg-hospital.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 380px;
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  text-align: center;
  color: #0a1b6d;
  margin-bottom: 30px;
  font-size: 28px;
}

.input-group {
  margin-bottom: 25px;
}

.input-group label {
  font-size: 14px;
  color: #0a1b6d;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #0a1b6d;
  background: transparent;
  outline: none;
  padding: 8px 5px;
  font-size: 15px;
}

.btn-login {
  width: 100%;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-size: 16px;
  background: #0a1b6d;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background: #132a9c;
}

.register-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.register-text a {
  color: #7a3cff;
  font-weight: bold;
  text-decoration: none;
}
